# Datum en tijd in Python 

Naast de types string, int en float telt Python een apart data type voor tijd en datums. De module datetime biedt zeer uitgebreide mogelijkheden die we hier uit de doeken zullen doen. 

## Datum

In [3]:
from datetime import date
Geboortedatum=date(1969,12,5) # verjaardag ;=)
# op welke dag is hij geboren?
print(Geboortedatum.weekday())

4

Python telt de dagen van de week als volgt: maandag(0),disndag(1),woensdag(2),donderdag(3),vrijdag(4),zaterdag(5) en tenslotte zondag(6). Dus de persoon is geboren op een vrijdag (4).
We kunnen ook attributen aanspreken. Bijvoorbeeld:
Geboortedatum.day
Geboortedatum.year
Geboortedatum.month

In [16]:
print("dag:",Geboortedatum.day)
print("jaar:",Geboortedatum.year)
print("maand:",Geboortedatum.month)

dag: 5
jaar: 1969
maand: 12

Wat betekent het nu indien we 2 data van elkaar aftrekken. We verwachten dan dat we aantal dagen verschil terug krijgen tussen de 2 data. Voorbeeld stel dat we date(1969,12,5) aftrekken van date(1935,5,5) dan krijgen we het het leeftijdsverschil in dagen tussen de 2 personen. (indien het hier telkens over een geboortedatum gaat)

In [17]:
GDP1=date(1935,5,5)
GDP2=date(1969,12,5)
print("Het verschil tussen {0} en {1} is ".format(GDP1,GDP2),GDP2-GDP1)

Het verschil tussen 1935-05-05 en 1969-12-05 is  12633 days, 0:00:00

Omgekeerd zouden we ook een tijdsduur kunnen optellen bij een datum om zo een nieuwe datum aan te maken die deze tijdsduur van de datum is verwijderd. Hiervoor dienen we een andere klasse te gebruiken uit timedate:

In [27]:
from datetime import timedelta
td=timedelta(days=12633)
GDP3=GDP1+td
print("We krijgen opnieuw:",GDP3)

We krijgen opnieuw: 1969-12-05

Er zijn veel manieren hoe we een datum kunnen voorstellen. Bijvoorbeeld 5 december, 1969 of 05-12-1969 of 1969-12-05.
De laatste is vanuit wiskundig oogpunt de handigste omdat het sorteren volgens een string hier de data in juiste chronologische volgorde laat zien. Dit data formaat heet het ISO 8601 formaat let op we vullen hier aan met nullen waar nodig dus 1 April 1779 is 1779-04-01. In Python vormen we dan de date om d.m.v. .isoformat(). Bijvoorbeeld:

In [28]:
from datetime import date
GDP2=date(1969,12,5)
string1=GDP2.isoformat()
print(string1)

1969-12-05

In praktijk zullen we veel verschillende soorten voorstellingen maken van een datum. De strftime() biedt vele mogelijkheden:

In [37]:
from datetime import date
GDP2=date(1969,12,5)
# we kunnen creatief met verschillende regex codes deze datum in een string verwerken met strftime
print(GDP2.strftime("Hij werd geboren in %Y"))
print(GDP2.strftime("De geboortedatum is %d:%m:%Y"))

Hij werd geboren in 1969
De geboortedatum is 05:12:1969

Tal van codes kunnen gebruikt worden we verwijzen naar https://strftime.org/ voor meer mogelijkheden. De meest gebruikte even op een rij:
%Y	jaar in 4 cijfers (0000-9999)
%m	maand in 2 cijfers (01-12)
%d	dag in 2 cijfers (01-31)
%H	uur in 2 cijfers (00-23)
%M	minuten in 2 cijfers (00-59)
%S	seconden in 2 cijfers (00-59)

## Tijd en datum

In vele situatie zal ook het tijdstip van een event belangrijk zijn. Bijvoorbeeld voor aandelen zal de prijs gedurende 1 dag soms sterk varieren. We gaan dus datum, uur, minuten en seconden en soms zelfs microseconden erbij moeten halen.

In [38]:
from datetime import datetime

# Create a datetime object
dt = datetime(2020,3, 13, 23, 59, 59) #1 seconde voor de corona lockdown

# Print the results in ISO 8601 format
print(dt)

2020-03-13 23:59:59

Dus we beginnen met jaar(2020) ,maand(03),dag(13),uur(23),minuten(59),seconden(59)

In [ ]:
#het kan ook door expliciet dit aan te duiden
dtbl=dt = datetime(year=2020,month=3, day=13, hour=23, minute=59, second=59)
print(dt)
# stel dat we dit willen wijzigen in dag dat de lockdown begon dan is het 14 maart om 0h, de maand en jaar 
# hoeven we niet te wijzigen
dtl=dtbl.replace(day=14,hour=0,minute=0,second=0)
print(dtl)

In veel gevallen worden tijd en datum gegevens in bestanden voorgesteld als strings. We dienen dan de strings te converteren naar het datetime formaat.

In [47]:
# Import the datetime class
from datetime import datetime

# We geven een voorbeeldstring uit het bestand
s = '2017/12/03 00:00:01'

# We kunnen dit met regex herschrijven als 
fmt = '%Y/%m/%d %H:%M:%S'

# Create a datetime object d
dt = datetime.strptime(s,fmt)

# Print dt (vgl de output met isoformat)
print(dt)
print(dt.isoformat())

2017-12-03 00:00:01
2017-12-03T00:00:01

Als we informatieverwerken van computers dan staat er soms een tijdstempel of 'timestamp'. Dit is het aantal seconden dat verlopen is van 1/1/1970 tot het moment waarop de timestamp genomen is.

In [48]:
from datetime import datetime

# tijdstempels in een lijst
timestamps = [1414665153, 1414664543]

# We initialiseren een lege lijst voor datetime waarden
dts = []

# Loop
for ts in timestamps:
  dts.append(datetime.fromtimestamp(ts))
  

print(dts)

[datetime.datetime(2014, 10, 30, 11, 32, 33), datetime.datetime(2014, 10, 30, 11, 22, 23)]

## Tijdsduur

Hoe verwerken we nu een tijdsduur? Een nieuw type van variabele hebben we hier: timedelta

In [59]:
# we importeren timedelta 
from datetime import timedelta,datetime,date
# start en einde Uitslag 13e etappe Tour de France 2019
startJulianAlaphilippe=datetime(2019,7,19,16,0,0)
eindJulianAlaphilippe=datetime(2019,7,19,16,35,0)
tijdJA=eindJulianAlaphilippe-startJulianAlaphilippe
#Om de duur te berekenen moeten we eindtijd verminderen met de starttijd
print(type(tijdJA))
print("tijd Julian Alaphilippe:",tijdJA)

<class 'datetime.timedelta'>
tijd Julian Alaphilippe: 0:35:00

We weten dat het tijdsverschil met Thomas De Gendt de derde 36 seconden bedroeg. Als Thomas De Gendt vertrok om 14h30 die dag om hoe laat kwam hij dan aan?

In [61]:
# we importeren timedelta 
from datetime import timedelta,datetime,date
startThomasDeGendt=datetime(2019,7,19,14,30,0)
# we moeten de seconden omzetten eerst naar timedelta type! tijdJA is reeds van timedelta type
eindThomasDeGendt=startThomasDeGendt+timedelta(seconds=14)+tijdJA
print("Thomas De gendt finishte om:",eindThomasDeGendt)

Thomas De gendt finishte om: 2019-07-19 15:05:14

Hoeveel bedroeg de totale tijd van De Gendt in seconden?

In [71]:
from datetime import timedelta,datetime,date
tijdTDG=timedelta(seconds=14)+tijdJA
print("tijd Thomas De Gendt in seconden:",tijdTDG.total_seconds())

tijd Thomas De Gendt in seconden: 2114.0

## Tijdzones
De wereld in verdeeld in verschillende tijdzones. Wanneer het bij ons middag is moet men in de VS nog ontwaken en is het bijna bedtijd in Japan. De Greenwich tijdzone is de standaard dit noemen we ook wel de UTC tijdzone.

In [91]:
# importeer timezone uit datetime
from datetime import datetime,timezone, timedelta
dt=datetime(2017,12,5,12,2,13)
print("de online meeting zal doorgaan om:",dt)
# maar at nu indien je mensen uitnodigt die erken in de VS China of ergens anders. 
# Over welke tijdzone spreekt men? De tijdzone dient men op te geven! In Belgie lopen we 1uur voor op UTC tijd 
# (Greenwich)
# we definiëren de tijdzone als volgt:
tzBrussel=timezone(timedelta(hours=+1))

dtz=datetime(2017,12,5,12,2,13,tzinfo=tzBrussel)
print("de tijd in Brussel is:",dtz.isoformat()) #we zien de tijdzone er bij staan

# 2 manieren om UTC tijdzone in te stellen
UTC=timezone(timedelta(hours=0))
UTC2=timezone.utc #is een kortere manier om UTC​ te definieren
dtz=datetime(2017,12,5,11,2,13,tzinfo=UTC)
dtz2=datetime(2017,12,5,11,2,13,tzinfo=UTC2)
print(dtz," is het zelfde als ",dtz2)

de online meeting zal doorgaan om: 2017-12-05 12:02:13
de tijd in Brussel is: 2017-12-05T12:02:13+01:00
2017-12-05 11:02:13+00:00  is het zelfde als  2017-12-05 11:02:13+00:00

Hoe kunnen we nu de tijd laten herberekenen voor een specifieke regio?
Stel dat er mensen uit India de meeting volgen. Om hoe laat moeten zij online zijn in hun locale tijd?
T.o.v UTC loopt India IST 5h30min voor

In [92]:
# India Standard time zone
IST = timezone(timedelta(hours=5, minutes=30))
# omrekenen naar IST
IndiaMeetingTime=dtz.astimezone(IST)
print("De meeting start in India om:",IndiaMeetingTime)
print(IndiaMeetingTime.isoformat())

De meeting start in India om: 2017-12-05 16:32:13+05:30
2017-12-05T16:32:13+05:30

In [ ]:
UTC=timezone.utc 
# !als de enkel tijdzone wordt aangepast dan blijft de rest wel idd !
NoMeetingTime=IndiaMeetingTime.replace(tzinfo=UTC)
print(NoMeetingTime.isoformat())

Hoe kunnen we op ieder moment de tijdsverschillen kennen? Voor alle programmeertalen is een databank voorzien.
Om de tijdzone te bekomen dienen we enkel het continent en een grote stad in de buurt op te geven. Bijvoorbeeld:

In [99]:
from datetime import timedelta,datetime,timezone
from dateutil import tz
#stel dat we tijdzone van Teheran willen kennen
TehTZ=tz.gettz('Asia/Tehran')
print(TehTZ)
TehTZ=timezone(timedelta(hours=-5))
TeheranMeetingTime=dtz.astimezone(TehTZ)
print("De meeting start in Teheran om:",TeheranMeetingTime)
print(TeheranMeetingTime.isoformat())

tzfile('/usr/share/zoneinfo/Asia/Tehran')
De meeting start in Teheran om: 2017-12-05 06:02:13-05:00
2017-12-05T06:02:13-05:00

### Wintertijd en zomertijd

## Tijd en datum in Pandas
Bij het verwerken van dataframes zijn een goede verwerking van tijd en data essentiëel. De klassieke datetime module heeft enkele tekortkomingen. Pandas zal dit opvangen door een aantal nieuwe methoden te introduceren.
In Pandas spreken we van Timestamp i.p.v. het type datetime maar veel verschil is er niet.

In [106]:
import pandas as pd
#patientinfo bevat patienten informatie i.v.m. Zuid-Koreaanse besmette patienten graag zouden we berekenen
# hoe lang het duurt voordat een patient ontslagen wordt uit het hospitaal
Patienten=pd.read_csv('//users/ronybaekeland/Desktop/datascience/datasets/coronavirusdataset/Patientinfo.csv')
print(Patienten.head(3))
print(Patienten.info())

   patient_id  global_num   sex  birth_year  age country province  \
0  1000000001         2.0  male      1964.0  50s   Korea    Seoul
1  1000000002         5.0  male      1987.0  30s   Korea    Seoul
2  1000000003         6.0  male      1964.0  50s   Korea    Seoul

          city disease        infection_case  infection_order   infected_by  \
0   Gangseo-gu     NaN       overseas inflow              1.0           NaN
1  Jungnang-gu     NaN       overseas inflow              1.0           NaN
2    Jongno-gu     NaN  contact with patient              2.0  2.002000e+09

   contact_number symptom_onset_date confirmed_date released_date  \
0            75.0         2020-01-22     2020-01-23    2020-02-05
1            31.0                NaN     2020-01-30    2020-03-02
2            17.0                NaN     2020-01-30    2020-02-19

  deceased_date     state
0           NaN  released
1           NaN  released
2           NaN  released
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 18 columns):
patient_id            2771 non-null int64
global_num            1664 non-null float64
sex                   2765 non-null object
birth_year            2414 non-null float64
age                   2758 non-null object
country               2771 non-null object
province              2771 non-null object
city                  2703 non-null object
disease               19 non-null object
infection_case        1843 non-null object
infection_order       31 non-null float64
infected_by           650 non-null float64
contact_number        517 non-null float64
symptom_onset_date    389 non-null object
confirmed_date        2771 non-null object
released_date         709 non-null object
deceased_date         48 non-null object
state                 2771 non-null object
dtypes: float64(5), int64(1), object(12)
memory usage: 389.8+ KB
None

We merken dat verschillende datya verwijzen naar een datum sympton_onset_date, confirmed_date, released_date,deceased_date maar ze zijn van het type non-null object. Hoe vertellen we Pandas dat die kolommen moeten worden ingelezen als een datum? We geven een lijst mee van de kolommen die als een datum moeten worden ingelezen bij de read_csv

In [20]:
import pandas as pd
#patientinfo bevat patienten informatie i.v.m. Zuid-Koreaanse besmette patienten graag zouden we berekenen
# hoe lang het duurt voordat een patient ontslagen wordt uit het hospitaal
filename='//users/ronybaekeland/Desktop/datascience/datasets/coronavirusdataset/Patientinfo.csv'
Patienten=pd.read_csv(filename,parse_dates=['symptom_onset_date', 'confirmed_date', 'released_date' ])
print(Patienten.head(3))
print(Patienten.info())

   patient_id  global_num   sex  birth_year  age country province  \
0  1000000001         2.0  male      1964.0  50s   Korea    Seoul
1  1000000002         5.0  male      1987.0  30s   Korea    Seoul
2  1000000003         6.0  male      1964.0  50s   Korea    Seoul

          city disease        infection_case  infection_order   infected_by  \
0   Gangseo-gu     NaN       overseas inflow              1.0           NaN
1  Jungnang-gu     NaN       overseas inflow              1.0           NaN
2    Jongno-gu     NaN  contact with patient              2.0  2.002000e+09

   contact_number symptom_onset_date confirmed_date released_date  \
0            75.0         2020-01-22     2020-01-23    2020-02-05
1            31.0                NaT     2020-01-30    2020-03-02
2            17.0                NaT     2020-01-30    2020-02-19

  deceased_date     state
0           NaN  released
1           NaN  released
2           NaN  released
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 18 columns):
patient_id            2771 non-null int64
global_num            1664 non-null float64
sex                   2765 non-null object
birth_year            2414 non-null float64
age                   2758 non-null object
country               2771 non-null object
province              2771 non-null object
city                  2703 non-null object
disease               19 non-null object
infection_case        1843 non-null object
infection_order       31 non-null float64
infected_by           650 non-null float64
contact_number        517 non-null float64
symptom_onset_date    389 non-null datetime64[ns]
confirmed_date        2771 non-null datetime64[ns]
released_date         709 non-null datetime64[ns]
deceased_date         48 non-null object
state                 2771 non-null object
dtypes: datetime64[ns](3), float64(5), int64(1), object(9)
memory usage: 389.8+ KB
None

We zien nu dat de 4 data van het type datetime64 zijn i.p.v. non-null object:

symptom_onset_date    389 non-null datetime64[ns]
confirmed_date        2771 non-null datetime64[ns]
released_date         709 non-null datetime64[ns]


Een alternatief om na het inlezen van de data toch nog de kolommen in een dataset aop het type datetime te zetten in Pandas is d.m.v. pd.to_datetime. We hebben bij het inlezen van de gegevens deceased_date over het hoofd gezien. We willen alsnog deze ook van het type datetime maken. Dit doen we door pd.to_datetime toe te passen. Hier moeten we wel het formaat van de datums ingeven bij parse_dates zoekt Pandas zelf naar een geschikt formaat.

In [21]:
import pandas as pd
Patienten['deceased_date'] =pd.to_datetime(Patienten['deceased_date'],format='%Y-%m-%d')
Patienten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 18 columns):
patient_id            2771 non-null int64
global_num            1664 non-null float64
sex                   2765 non-null object
birth_year            2414 non-null float64
age                   2758 non-null object
country               2771 non-null object
province              2771 non-null object
city                  2703 non-null object
disease               19 non-null object
infection_case        1843 non-null object
infection_order       31 non-null float64
infected_by           650 non-null float64
contact_number        517 non-null float64
symptom_onset_date    389 non-null datetime64[ns]
confirmed_date        2771 non-null datetime64[ns]
released_date         709 non-null datetime64[ns]
deceased_date         48 non-null datetime64[ns]
state                 2771 non-null object
dtypes: datetime64[ns](4), float64(5), int64(1), object(8)
memory usage: 389.8+ KB

We willen nu eens kijken naar de gemiddeld verblijf in het hospitaal in Zuid-Korea.

In [22]:
# We maken een nieuwe kolom die de tijdsduur bevat tussen tijdstip waarop ziekte was bevestigd 
# en de tijd van ontslag uit het ziekenhuis we noemen dit 'duur'. 
# We vertalen ook alle kolomnamen in het nederlands.
Patienten.columns=['patient_id','globaal_nr','geslacht','geboortejaar','leeftijd','land',
                  'provincie','stad','ziekte','infectie_geval','infectiegraad','infectiedoor',
                  'contact_nr','symptonendatum','testuitslagdatum','ontslagdatum','dag_overlijden','staat']
Patienten.info()
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 18 columns):
patient_id          2771 non-null int64
globaal_nr          1664 non-null float64
geslacht            2765 non-null object
geboortejaar        2414 non-null float64
leeftijd            2758 non-null object
land                2771 non-null object
provincie           2771 non-null object
stad                2703 non-null object
ziekte              19 non-null object
infectie_geval      1843 non-null object
infectiegraad       31 non-null float64
infectiedoor        650 non-null float64
contact_nr          517 non-null float64
symptonendatum      389 non-null datetime64[ns]
testuitslagdatum    2771 non-null datetime64[ns]
ontslagdatum        709 non-null datetime64[ns]
dag_overlijden      48 non-null datetime64[ns]
staat               2771 non-null object
dtypes: datetime64[ns](4), float64(5), int64(1), object(8)
memory usage: 389.8+ KB

In [47]:
Patienten['duurziekte']=Patienten['ontslagdatum']-Patienten['testuitslagdatum']
print(Patienten['duurziekte'].head(3))
GemiddeldeDuur=Patienten['duurziekte'].mean()
print("Gemiddeld verbleven de patienten {0} dagen in het ziekenhuis".format(GemiddeldeDuur.days))

0   13 days
1   32 days
2   20 days
Name: duurziekte, dtype: timedelta64[ns]
Gemiddeld verbleven de patienten 18 dagen in het ziekenhuis

Er zijn verschillende graden van infectie weergegeven door infectiegraad. We tellen nu het aantal infecties per infectiegraad. Infectiegraad 1 wil zeggen dat de persoon besmet was in Wuhan. Infectiegraad 2 wil zeggen dat de persoon besmet werd door iemand met infectiegraad 1 enz

In [27]:
print(Patienten['infectiegraad'].value_counts())

1.0    11
2.0     8
3.0     6
5.0     3
4.0     2
6.0     1
Name: infectiegraad, dtype: int64

We merken dat niet voor alle patienten een infectiegraad is opgegeven, omdat we dikwijls niet weten hoe de infectie is opgelopen.

In [36]:
# We zien dat de meeste gevallen niet te traceren zijn
print(Patienten['infectiegraad'].isnull().value_counts())

True     2740
False      31
Name: infectiegraad, dtype: int64

Is er een verschil in duurziekte voor de verschillende maanden? We gebruiken resample om een overzicht te krijgen;

In [72]:
GroepenPerMaand=Patienten.resample('M',on='testuitslagdatum')['duurziekte']
for x in GroepenPerMaand :print(x)

(Timestamp('2020-01-31 00:00:00', freq='M'), 633    17 days
0      13 days
813    17 days
814    13 days
1      32 days
2      20 days
3      16 days
4      24 days
5      19 days
6      10 days
1488   12 days
Name: duurziekte, dtype: timedelta64[ns])
(Timestamp('2020-02-29 00:00:00', freq='M'), 815    17 days
7      22 days
816    16 days
817    22 days
613    17 days
         ...
2639       NaT
2640       NaT
2641       NaT
2642       NaT
2727       NaT
Name: duurziekte, Length: 913, dtype: timedelta64[ns])
(Timestamp('2020-03-31 00:00:00', freq='M'), 82     NaT
85     NaT
87     NaT
88     NaT
89     NaT
        ..
2770   NaT
1487   NaT
2123   NaT
2268   NaT
2269   NaT
Name: duurziekte, Length: 1847, dtype: timedelta64[ns])

We merken op dat enkel voor de maanden januari en februari we zinnige data hebben want voor maart ontbreken er teveel gegevens (ontslag is nog niet bekomen). We bekijken de maanden februari en januari

In [80]:
PatientenJAN=Patienten[Patienten['testuitslagdatum']< '2020-02-01']
PatientenJAN['testuitslagdatum'].sort_values()

633    2020-01-20
0      2020-01-23
813    2020-01-26
814    2020-01-27
1      2020-01-30
2      2020-01-30
3      2020-01-30
4      2020-01-31
5      2020-01-31
6      2020-01-31
1488   2020-01-31
Name: testuitslagdatum, dtype: datetime64[ns]

In [85]:
PatientenFEB=Patienten[(Patienten['testuitslagdatum']< '2020-03-01')& (Patienten['testuitslagdatum']> '2020-01-31')]
PatientenFEB['testuitslagdatum'].sort_values()

815    2020-02-01
7      2020-02-02
816    2020-02-02
817    2020-02-02
613    2020-02-03
          ...
90     2020-02-29
1503   2020-02-29
62     2020-02-29
1636   2020-02-29
508    2020-02-29
Name: testuitslagdatum, Length: 913, dtype: datetime64[ns]

In [86]:
print(PatientenJAN['duurziekte'].mean())

20 days 05:09:29.552238

In [87]:
print(PatientenJAN['duurziekte'].mean())

20 days 05:09:29.552238

In [88]:
print(Patienten['duurziekte'].mean())

18 days 09:40:52.468265

In [89]:
liste=[$,+,,]

SyntaxError: invalid syntax (<ipython-input-89-54dc55045647>, line 1)

Referenties:
https://www.kaggle.com/thebrownviking20/everything-you-can-do-with-a-time-series
https://www.kaggle.com/fedecape/it-s-crime-time-a-datetime-exploration